<div class="head-wrap">
  <p>You searched for {{myQuery}}</p>
</div>
<div class="results">
   {{#each artists}}
   <div class="result">
    <div class="">
     <img class="img-style"src='{{this.images.[1].url}}' alt="{{name}}">
    </div>
    <div class="button-wrapper">
     <p class="name-style">{{name}}</p>   
     <button class="button-style">View albums</button>
    </div>
   </div>
   {{/each}}
</div>