<div>
   <p>You searched for {{ myQuery}}</p>
   {{#each artists}}
   <div>
    <p>{{name}}</p>   
     <img src='{{this.images.[0].url}}' alt="artist image">
    {{!-- {{#each images}} 
    {{!--  I am unsure how to only display 1 of the images for each artist --}}
    {{!-- <img src='{{images}}' alt="artist image"> --}}
   </div>
    {{!-- {{/each}} --}}
   <button>Show more info</button>
   {{/each}}
</div>