<div>
   <p>You searched for {{ myQuery}}</p>
   {{#each artists}}
   <div>
    <p>{{name}}</p>   
     <img class="img-style"src='{{this.images.[0].url}}' alt="artist image">
   </div>
   <button>Show more info</button>
   {{/each}}
</div>